.chat {
  width: 350px;
  height: 600px;
  padding: 20px 10px 0px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  position: relative;
  text-align: center;
}

.messages-list::-webkit-scrollbar {
  width: 4px;
}
.messages-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.messages-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.messages-list::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.messages-list::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 900px) {
  .chat {
    width: 350px;
    margin: 0 auto;
  }
  .background-blob {
    left: 50%;
    width: auto;
    max-height: 600px;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .chat {
    min-width: auto;
    width: 85vw;
    max-width: 350px;
  }
}

.messages-list {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  height: 485px;
  padding-inline: 5px;
}

.date {
  color: #8b8b8b;
}

.chat-wrapper {
  position: relative;
}

.background-blob {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 170%;
  z-index: 0;
  transform: translateX(-20%);
}
