.message {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  align-items: flex-end;
}

.bot-avatar {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.human-message {
  justify-content: flex-end;
}

.text-message {
  padding: 1rem;
  max-width: 200px;
  min-width: 50px;
  text-align: start;
  display: flex;
  justify-content: center;
}

.human-text-message {
  background-color: #f0f0f0;
  border-radius: 15px 15px 0 15px;
}

.bot-text-message {
  color: #fff;
  background-color: #0584fe;
  border-radius: 15px 15px 15px 0;
}

.time {
  color: #aec8dc;
  font-size: 14px;
  margin-top: 0.3rem;
}

.bot-time {
  text-align: left;
}

.human-time {
  text-align: right;
}
