.welcome-wrapper {
  margin-top: 3.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .bottom-text {
    margin-top: 1rem;
  }
  .welcome-wrapper{
    margin-top: 1rem;
  }
}

h1 {
  color: #a553e0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
}

p {
  margin: 0;
  color: #889097;
}

a {
  color: inherit;
}

a:hover {
  color: #000;
}
